notebooks/*.gv*

# vscode
naturf/.vscode

# ignore docs build
docs/build/

# pyenv
.python-version

# virtual environments
venv/

# jupyter
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*

# package
build/
*.pyc
naturf.egg-info/
dist/

# pycharm
.idea

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Contact GitHub
Pricing
API
Training
Blog
About
