name: build

on: [push, pull_request]

jobs:
  build:
      strategy:
        matrix:
          os: [ubuntu-latest]

      runs-on: ${{ matrix.os }}

      env:
        OS: ${{ matrix.os }}
        PYTHON: '3.10'

      steps:

        - uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@main
          with:
            python-version: "3.10"

        - name: Run pre-commit hooks
          run: |
            pip install pre-commit
            pre-commit run --all-files

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            sudo apt-add-repository ppa:ubuntugis/ubuntugis-unstable
            sudo apt-get update
            sudo apt-get install libgdal-dev
            python setup.py install
        - name: Test and generate coverage report on Linux
          run: |
            pip install pytest
            pip install pytest-cov
            pytest --cov=naturf/ --cov-report=xml
        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v3
          with:
            file: ./coverage.xml
            fail_ci_if_error: true
